* {
  box-sizing: border-box;
}

body,
html,
ul {
  margin : 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  padding: auto;
  margin : auto;
  width  : 70%;
}

.navbar-top {
  position        : fixed;
  width           : 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding         : 24px 0;
}

.navbar {
  color: aquamarine;
}

.navbar>ul>li {
  display: inline;
  padding: 24px 40px;
  margin : 0 10px;
}

.navbar>ul>li:hover {
  cursor          : pointer;
  color           : rgb(82, 241, 188);
  background-color: rgba(0, 0, 0, 0.9);
}

.intro {
  height          : 900px;
  background-image: url("https://i.ibb.co/Mnpd6mr/hero.jpg");
  background-color: #cccccc;
  background-size : 100% 100%;
}